html{
    font-size: 8px;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 24px;
}

.d1 {
    width: 100%;
    height: 100vh;
}

.iconBars {
    font-size: 4rem;
}

.MenuBars {
    background: none;
    border: none;
    width: 80px;
    height: auto;
}

.h1Text {
    color: white;
    font-size: 4rem;
    cursor: default;
}


.menu {
    display: none;
    position: fixed;
    z-index: 1; 
    top: auto;
    right: 0;
    width: 20%;
    background: rgb(145, 145, 145);
    border-bottom-left-radius: 12px;
}

.aText {
    display: block;
    padding-top: 32px;
    margin-left: 32px;
    font-size: 3.2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.slider {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-slide {
    max-width: 60vw;
    max-height: 80vh;
    display: block;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slideFromLeft 0.5s ease-in-out;
    left: -100%;
}

.slide.act {
    display: flex;
    animation: slideToCenter 0.5s ease-in-out;
    left: 0;
}

@keyframes slideFromLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slideToCenter {
    0% {
        left: 100%;
    }
    99.9% {
        left: 0;
    }
    100% {
        left: 0;
        display: flex;
    }
}
