html{
    font-size: 8px;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 24px;
}

.d1 {
    width: 100%;
    height: 100vh;
}

.iconBars {
    font-size: 4rem;
}

.MenuBars {
    background: none;
    border: none;
    width: 80px;
    height: auto;
}

.h1Text {
    color: white;
    font-size: 4rem;
    cursor: default;
}


.menu {
    display: none;
    position: fixed;
    z-index: 1; 
    bottom: 0;
    width: 100%;
    height: 80vh;
    background: white;
}

.aText {
    display: block;
    padding-top: 32px;
    margin-left: 32px;
    font-size: 3.2rem;
    color: black;
    text-decoration: none; 
    cursor: pointer;
}
